/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Adjust width to fit the screen */
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-center, .header-right {
    text-align: center;
    width: 50%;
}

.header-right {
    text-align: right;
    font-size: 12px;
}

.logo {
    width: 50px;
    height: auto;
}


/* Table Grid Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}


h2 {
    margin: 5px 0;
    font-size: 18px;
}

h3 {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.intro {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: justify;
}

.underline {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    margin-right: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="radio"] {
    width: 18px; /* Adjust size */
    height: 18px; /* Adjust size */
    margin-right: 10px;
}

.next-button, .prev-button, .submit-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF; /* Blue color for buttons */
    cursor: pointer;
    font-size: 15px;
}

.next-button:hover, .prev-button:hover, .submit-button:hover {
    background-color: #0056b3; /* Darker blue for hover effect */
}

.prev-button {
    background-color: #6c757d; /* Grey color for Previous button */
}

.prev-button:hover {
    background-color: #5a6268; /* Darker grey for hover effect */
}

footer {
    opacity: 0.25;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


